{% extends 'base.html' %}
{% block 'content' %}

<h1>Log in</h1>

<form method="POST">
  {% csrf_token %}
  <div class="flex-parent jc-center"> 
    <div class="input_container">
      <label class="input_label">Email address</label>
      <input type="email" class="input_content" name="email_address">
    </div>
  </div>
  <div class="flex-parent jc-center"> 
    <div class="input_container">
      <label class="input_label">Password</label>
      <input type="password" class="input_content" name="password">
    </div>
  </div>
  <div class="flex-parent jc-center">
  <button type="submit" class="button_main">Log in</button>
  </div>
</form>
{% endblock %}